[71]
interface={{ ansible_net0['device'] }}
logical_interface_id=1
password=abc123
virtual_ip=192.168.2.71
real_ip={{ ansible_net0['ipv4'][0]['address'] }}
advertisement_base=1
advertisement_skew=100
up_script=/opt/local/libexec/ucarp/vip-up.sh
down_script=/opt/local/libexec/ucarp/vip-down.sh


[72]
interface={{ ansible_net0['device'] }}  
logical_interface_id=2
password=abc123
virtual_ip=192.168.2.72
real_ip={{ ansible_net0['ipv4'][0]['address'] }}
advertisement_base=1
advertisement_skew=0
up_script=/opt/local/libexec/ucarp/vip-up.sh
down_script=/opt/local/libexec/ucarp/vip-down.sh
