#!/bin/sh
#
# Instructions:
# 1. copy this script into /opt/local/sbin
# 2. copy vippy.xml to /var/svc/manifest/network/ha/vippy.xml
# 3. import the manifest with svccfg import /var/svc/manifest/network/ha/vippy.xml
#
# Optionally if required the nodename can be specified via /opt/local/etc/vippy.node

export PATH=/usr/local/sbin:/usr/local/bin:/opt/local/sbin:/opt/local/bin:/usr/sbin:/usr/bin:/sbin

socket="{{ net_vippy_service_socket_file }}"
name="{{ net_vippy_node_file }}"
conf="{{ net_vippy_config_file_dest }}"

if [ -e $name ] ; then
    node=$(cat $name)
    start_cmd="{{ net_vippy_exec_file }} -c $conf -n $node"
else
    start_cmd="{{ net_vippy_exec_file }} -c $conf"
fi
    
case $1 in
    start)
       if [ ! -e $socket ] ; then 
           $start_cmd &
           exit 0
       else
           echo "ERROR: vippy $socket found, exiting.."
           exit 1
       fi
    ;;
    stop)
       pkill -2 -f .*vippy.* && rm -f $socket
    ;;
esac
