{
  "chat": "{{ net_vippy_chat }}",
  "chat_interface": "{{ net_vippy_chat_interface }}",
  "secret": "{{ net_vippy_chat_secret }}",
  "version": 5,
  "vips":  
		{{ net_vippy_vips | to_json }}
  ,
  "nodes":  {{ net_vippy_nodes | to_json }},
  "interval": 0.5,
  "mature": 5,
  "stale": 5,
  "arp-cache": "90",
  "notify": [
    "arp-cache",
	{{ net_vippy_notify_arp_cache | to_json }}
  ],
  "management": "{{ net_vippy_service_socket_file }}",
  "logging": {
    "driver": "console",
    "facility": "local7",
    "mask": { "emerg": true, "alert": true, "crit": true, "err": true,
              "warning": false, "notice": true, "info": false, "debug": false }
  }
}
